body {
    direction: rtl;
}

.style-3-search button
{
    float: left;
}

.style-3-search .search-field
{
    float: right;
}

.header-style-3-1 .header-middle-part, .header-style-3 .header-middle-part
{
    float: right;
}

.header-right-part
{
    float: left;
}

.top-cart-content.primary-bgcolor {
    left: 0;
    right: inherit;
}

.dropdown-menu {
    right: 0;
    float: right;
    text-align: right;

}

.divmain {
    background: linear-gradient(to right, #ffffff 70%, #e2fcff , #cff0fd );
    width: 100%;
    height: 350px;
}


.mainimg {
    background-image: url(images/laptopindex.jpg);
    background-repeat: no-repeat;
    padding: 0px;
    width: 50%;
    height: inherit;
    float: left;
    margin: 0% 0% 0% 5%;
}

.maintext {
    float: left;
    width: 25%;
    margin: 15% 0% 0% 5%;
    text-align: center;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.divmain2 {
    width: 100%;
    height: 147px;
}

.mainimg2 {
    background-image: url(images/moblieindex.jpg);
    background-repeat: no-repeat;
    width: 35%;
    height: inherit;
    float: left;
    border-radius: 5px;
    margin: 0% 0% 0% 5%;
}

.mainimg3 {
    background-image: url(images/lateralindex.jpg);
    background-repeat: no-repeat;
    width: 35%;
    height: inherit;
    float: left;
    border-radius: 5px;
    margin: 0% 0% 0% 5%;
}



