body {
    direction: rtl;
}

.style-3-search button
{
    float: left;
}

.style-3-search .search-field
{
    float: right;
}

.header-style-3-1 .header-middle-part, .header-style-3 .header-middle-part
{
    float: right;
}

.header-right-part
{
    float: left;
}

.top-cart-content.primary-bgcolor {
    left: 0;
    right: inherit;
}

.dropdown-menu {
    right: 0;
    float: right;
    text-align: right;

}

.divmain {
    background: linear-gradient(to right, #ffffff 70%, #e2fcff , #cff0fd );
    width: 100%;
    height: 350px;
}


.mainimg {
    background-image: url(images/laptopindex.jpg);
    background-repeat: no-repeat;
    padding: 0px;
    width: 50%;
    height: inherit;
    float: left;
    margin: 0% 0% 0% 5%;
}

.maintext {
    float: left;
    width: 25%;
    margin: 10% 0% 0% 5%;
    text-align: center;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.divmain2 {
    width: 100%;
    height: 147px;
}

.subdivmain {
    background: linear-gradient(135deg,#1a0707 , #0a0101);
    width: 33%;
    height: 147px;
    float: left;
}


.mainimg2 {
    background-image: url(images/moblieindex.jpg);
    background-repeat: no-repeat;
    width: 75%;
    height: inherit;
    float: left;
    border-radius: 5px;
    margin: auto;
}

.maintext2 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
    width: 15%;
    margin: 15% 0% 0% 5%;
    text-align: center;
    font-size: x-large;
}


.subdivmain1 {
    background: linear-gradient(135deg,#a73d3d , #be3131);
    width: 33%;
    height: 147px;
    float: left;
    margin-left: 0.45%;
}


.mainimg3 {
    background-image: url(images/latindex.jpg);
    background-repeat: no-repeat;
    width: 75%;
    height: inherit;
    float: left;
    border-radius: 5px;
    margin: auto;
}

.maintext3 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
    width: 15%;
    margin: 10% 0% 0% 5%;
    text-align: center;
    font-size: x-large;
}

.subdivmain2 {
    background: linear-gradient(135deg,#241135 , #1a0b31);
    width: 33%;
    height: 147px;
    float: left;
    margin-left: 0.45%;
}

.mainimg4 {
    background-image: url(images/lapindex.jpg);
    background-repeat: no-repeat;
    width: 75%;
    height: inherit;
    float: left;
    border-radius: 5px;
    margin: auto;
}

.maintext4 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
    width: 15%;
    margin: 15% 0% 0% 5%;
    text-align: center;
    font-size: x-large;
}


.divcorl {
    text-align: center;
    width: 100%;
    height: 300px;
    margin-top: 5%;
    margin-left: auto;
}


.divcorlimg1 {
    background-image: url(images/tahvil.jpg);
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.divcorlimg2 {
    background-image: url(images/poshtibani.png);
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.divcorlimg3 {
    background-image: url(images/zemanat.jpg);
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.divcol1 {
    /*background: linear-gradient(180deg,#ff4b2b , #ff416c);*/
    border: 1px dashed gray;
    border-radius: 15px 15px;
}

.divcol2 {
    /*background: linear-gradient(135deg,#56b4d3, #348f50);*/
    border: 1px dashed gray;
    border-radius: 15px 15px;
}

.divcol3 {
    /*background: linear-gradient(180deg, #f37335,#fdc830);*/
    border: 1px dashed gray;
    border-radius: 15px 15px;
}


.divgoshop {
    max-width: 100%;
    height: 50px;
    margin-top: 5%;
}

.btnshop {
    width: 100%;
    height: 50px;
    font-size: x-large;
}


.divfooter{
    width: 100%;
    float: right;
    color: white;
}

.divfooter p {
    margin-bottom: 13px;
}

.divfooter h3 {
    color: white;
}

.divfooter2 {
    width: 100%;
    float: right;
    color: white;
}

.divfooter2 h3 {
    color: white;
}

.diva {
    width: 100%;
    background-color: #be3131;
    border: 5px solid #a73d3d;
    text-align: center;
    height: 40px;
    border-radius: 15px;
    
}

.diva a {
    text-align: center;
    font-size: large;
    color: white;
    text-decoration: none;
}

.diva a:visited {
    color: white;
}





